<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.healthconnect.overlay_gms">
    <overlay android:targetPackage="com.google.android.healthconnect.controller"
                   android:targetName="HealthConnectStyles"
                   android:isStatic="true"
                   android:priority="0"/>
</manifest>
