<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.pixel.avatarpicker_gms">
    <overlay android:targetPackage="com.google.android.avatarpicker"
                   android:targetName="AvatarPickerGoogle"
                   android:isStatic="true"
                   android:priority="210"/>
</manifest>
